body {
  background-color: var(--secondary);
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #212121;
  --secondary: #6E0202;
}

@font-face {
  font-family: RudeMetal;
  src: url('./assets/fonts/RudeMetal.ttf')
}

@font-face {
  font-family: Metal;
  src: url('./assets/fonts/Metal.ttf')
}

h1, h2, h3, h4, h5, h6 {
  font-family: RudeMetal;
}

.Metal {
  font-family: Metal Helvetica sans-serif;
}
